@model DebugToolCSharp.Models.TicketStatus

@{
    ViewBag.Title = "Add Ticket Status";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Ticket Status</h4>
        <hr />
        @*Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @*Html.HiddenFor(model => model.Id) *@
        @{
            if (!string.IsNullOrEmpty(Model.Message))
            {
                var cssClass = string.Empty;
                if (Model.Success)
                {
                    cssClass = "text-info";
                }
                else
                {
                    cssClass = "text-danger";
                }

                @Html.Label(@Model.Message, new { @class = cssClass })
            }
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
