@model DebugToolCSharp.Models.AccessManagement
@{
    ViewBag.Title = "Access Management";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Access Management</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>Page: @Model.ListPages[0].PageName</div>
        <div class="form-group">

            <br /><br />
            @{
                foreach (var role in Model.ListRoles)
                {
                    string isChecked = string.Empty;
                    foreach (var roleCheck in Model.ListPages[0].Roles)
                    {
                        if (role.Id == roleCheck.Id)
                        {
                            isChecked = "checked";
                            break;
                        }
                    }
                    <div>
                        <input type="checkbox" class="checkbox" name="selectedRoles" value="@role.Id" id="@role.Role" @isChecked />
                        <label for="@role.Role">@role.Role</label>
                    </div>
                }
            }

        </div>
        @Html.HiddenFor(m => m.PageId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
